*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.settings
.idea
.project
.pmd

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/customtelcoaccelerator/customtelcoacceleratorcockpits/extensioninfo.xsd
/customtelcoaccelerator/customtelcoacceleratorcockpits/eclipsebin
/customtelcoaccelerator/customtelcoacceleratorcockpits/classes
/customtelcoaccelerator/customtelcoacceleratorcockpits/gensrc
/customtelcoaccelerator/customtelcoacceleratorcockpits/build.xml
/customtelcoaccelerator/customtelcoacceleratorcockpits/resources/beans.xsd
/customtelcoaccelerator/customtelcoacceleratorcockpits/resources/items.xsd
/customtelcoaccelerator/customtelcoacceleratorcockpits/resources/customtelcoacceleratorcockpits/customtelcoacceleratorcockpits-webtestclasses.xml
/customtelcoaccelerator/customtelcoacceleratorcockpits/resources/customtelcoacceleratorcockpits/customtelcoacceleratorcockpits-testclasses.xml
/customtelcoaccelerator/customtelcoacceleratorcockpits/fileAbsolutePath
/customtelcoaccelerator/customtelcoacceleratorcore/extensioninfo.xsd
/customtelcoaccelerator/customtelcoacceleratorcore/eclipsebin
/customtelcoaccelerator/customtelcoacceleratorcore/classes
/customtelcoaccelerator/customtelcoacceleratorcore/gensrc
/customtelcoaccelerator/customtelcoacceleratorcore/build.xml
/customtelcoaccelerator/customtelcoacceleratorcore/resources/beans.xsd
/customtelcoaccelerator/customtelcoacceleratorcore/resources/items.xsd
/customtelcoaccelerator/customtelcoacceleratorcore/resources/customtelcoacceleratorcore/customtelcoacceleratorcore-webtestclasses.xml
/customtelcoaccelerator/customtelcoacceleratorcore/resources/customtelcoacceleratorcore/customtelcoacceleratorcore-testclasses.xml
/customtelcoaccelerator/customtelcoacceleratorcore/fileAbsolutePath
/customtelcoaccelerator/customtelcoacceleratorfacades/extensioninfo.xsd
/customtelcoaccelerator/customtelcoacceleratorfacades/eclipsebin
/customtelcoaccelerator/customtelcoacceleratorfacades/classes
/customtelcoaccelerator/customtelcoacceleratorfacades/gensrc
/customtelcoaccelerator/customtelcoacceleratorfacades/build.xml
/customtelcoaccelerator/customtelcoacceleratorfacades/resources/beans.xsd
/customtelcoaccelerator/customtelcoacceleratorfacades/resources/items.xsd
/customtelcoaccelerator/customtelcoacceleratorfacades/resources/customtelcoacceleratorfacades/customtelcoacceleratorfacades-webtestclasses.xml
/customtelcoaccelerator/customtelcoacceleratorfacades/resources/customtelcoacceleratorfacades/customtelcoacceleratorfacades-testclasses.xml
/customtelcoaccelerator/customtelcoacceleratorfacades/fileAbsolutePath
/customtelcoaccelerator/customtelcoacceleratorinitialdata/extensioninfo.xsd
/customtelcoaccelerator/customtelcoacceleratorinitialdata/eclipsebin
/customtelcoaccelerator/customtelcoacceleratorinitialdata/classes
/customtelcoaccelerator/customtelcoacceleratorinitialdata/gensrc
/customtelcoaccelerator/customtelcoacceleratorinitialdata/build.xml
/customtelcoaccelerator/customtelcoacceleratorinitialdata/resources/beans.xsd
/customtelcoaccelerator/customtelcoacceleratorinitialdata/resources/items.xsd
/customtelcoaccelerator/customtelcoacceleratorinitialdata/resources/customtelcoacceleratorinitialdata/customtelcoacceleratorinitialdata-webtestclasses.xml
/customtelcoaccelerator/customtelcoacceleratorinitialdata/resources/customtelcoacceleratorinitialdata/customtelcoacceleratorinitialdata-testclasses.xml
/customtelcoaccelerator/customtelcoacceleratorinitialdata/fileAbsolutePath
/customtelcoaccelerator/customtelcoacceleratorstorefront/extensioninfo.xsd
/customtelcoaccelerator/customtelcoacceleratorstorefront/eclipsebin
/customtelcoaccelerator/customtelcoacceleratorstorefront/classes
/customtelcoaccelerator/customtelcoacceleratorstorefront/gensrc
/customtelcoaccelerator/customtelcoacceleratorstorefront/build.xml
/customtelcoaccelerator/customtelcoacceleratorstorefront/resources/beans.xsd
/customtelcoaccelerator/customtelcoacceleratorstorefront/resources/items.xsd
/customtelcoaccelerator/customtelcoacceleratorstorefront/resources/customtelcoacceleratorstorefront/customtelcoacceleratorstorefront-webtestclasses.xml
/customtelcoaccelerator/customtelcoacceleratorstorefront/resources/customtelcoacceleratorstorefront/customtelcoacceleratorstorefront-testclasses.xml
/customtelcoaccelerator/customtelcoacceleratorstorefront/fileAbsolutePath
/customtelcoacceleratorhmc/extensioninfo.xsd
/customtelcoacceleratorhmc/eclipsebin
/customtelcoacceleratorhmc/classes
/customtelcoacceleratorhmc/gensrc
/customtelcoacceleratorhmc/build.xml
/customtelcoacceleratorhmc/resources/beans.xsd
/customtelcoacceleratorhmc/resources/items.xsd
/customtelcoacceleratorhmc/resources/customtelcoacceleratorhmc/customtelcoacceleratorhmc-webtestclasses.xml
/customtelcoacceleratorhmc/resources/customtelcoacceleratorhmc/customtelcoacceleratorhmc-testclasses.xml
/customtelcoacceleratorhmc/fileAbsolutePath
/telcotrail
/customtelcoacceleratorhmc/hmc/classes
/customtelcoacceleratorhmc/hmc/bin
