*.class

*.classpath
*.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Hybris
gensrc/
platformhome.properties
extensioninfo.xsd
build.xml
beans.xsd
items.xsd
hmc.xsd
*-testclasses.xml
*-webtestclasses.xml
*.build.number

/customtelcoaccelerator*/extensioninfo.xsd
/customtelcoaccelerator*/eclipsebin
/customtelcoaccelerator*/classes
/customtelcoaccelerator*/gensrc/
/customtelcoaccelerator*/build.xml
/customtelcoaccelerator*/resources/beans.xsd
/customtelcoaccelerator*/resources/items.xsd
/customtelcoaccelerator*/resources/customtelcoaccelerator*/customtelcoaccelerator*-webtestclasses.xml
/customtelcoaccelerator*/resources/customtelcoaccelerator*/customtelcoaccelerator*-testclasses.xml
/customtelcoaccelerator*/fileAbsolutePath

/customtelcotrailhmc/build.xml
/customtelcotrailhmc/eclipsebin
/customtelcotrailhmc/classes
/customtelcotrailhmc/extensioninfo.xsd
/customtelcotrailhmc/resources/beans.xsd
/customtelcotrailhmc/resources/items.xsd
/customtelcotrailhmc/hmc/bin/smartlinghmchmc.jar
/customtelcotrailhmc/resources/smartlinghmc/smartlinghmc-testclasses.xml
/customtelcotrailhmc/resources/smartlinghmc/smartlinghmc-webtestclasses.xml
/customtelcotrailhmc/hmc/classes
/customtelcotrailhmc/hmc/bin
/customtelcotrailhmc/hmc/resources/hmc.xsd
/customtelcotrailhmc/hmc/testclasses